::selection {
  background-color: whitesmoke;
  color: green;
  padding: 15px;
}

body {
  overflow: hidden;
  font-family: sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 0%, 0.3)),
    url(../Gallery/images/Pictures/285312517_585203682935657_7966024171345786670_n.jpg);
  background-repeat: round;
  /* background-size: cover; */
  filter: blur(0.5vw) saturate(1.5) brightness(100%);
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  position: absolute;
  background-color: hsla(0, 0%, 0%, 0.8);
  color: whitesmoke;
  width: 350px;
  border: 5px solid yellow;
  border-radius: 10px;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  /* outline: 4px solid yellow; */
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgreen;
  padding: 0 20px;
  background-color: green;
  /* font-size: 1.5rem; */
  border-radius: 5px 5px 0 0;
}

.anthem {
  padding: 20px;
  font-size: 1rem;
}

p {
  line-height: 1.6;
}

h1 {
  letter-spacing: 10px;
}
